<main>
  Привет, твои данные для входа на платформу<br />
  Логин: <%= login %><br />
  Пароль: <%= password %><br />
  Ссылка на платформу: <a href="<%= link %>">ссылке</a>. <br />
  С уважением, команда "Персики".
</main>
