<h3>Здравствуйте, <%= name %>!</h3>
<p>Вам назначена новая задача:</p>
<ul>
    <li><strong>Название задачи:</strong> <%= taskTitle %></li>
    <li><strong>Дата начала:</strong> <%= startDate %></li>
    <li><strong>Дата окончания:</strong> <%=endDate %></li>
</ul>
<p>Пожалуйста, выполните задачу в указанные сроки.</p>